.app.dark {
    --bg-color: rgb(37 40 41);
    --inverted-bg-color: rgb(212 220 220);
    --primary-color: rgb(155 96 197);
    --secondary-color: rgb(224 217 229);
    --inverted-primary-color: rgb(12 167 169);
    --inverted-secondary-color: rgb(197 212 211);
}